<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>chitkara</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>chitkara.controller.logincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>chitkara.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComplaintServlet</servlet-name>
    <servlet-class>chitkara.controller.AddComplaintController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaintServlet</servlet-name>
    <url-pattern>/addcomplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>statusapprove</servlet-name>
    <servlet-class>chitkara.controller.sa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statusapprove</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>statusdecline</servlet-name>
    <servlet-class>chitkara.controller.sd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statusdecline</servlet-name>
    <url-pattern>/decline</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>addnotice</servlet-name>
    <servlet-class>chitkara.controller.AddNoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnotice</servlet-name>
    <url-pattern>/addnotice</url-pattern>
  </servlet-mapping>
    
</web-app>